.customizeApp {
  display: flex;
  width: 103%;
}

.customizeApp_main {
  background: #f7f7fa;
  /* padding: 10px; */
  display: flex;
  flex: 1;
  border: 1px solid #e4e4e8;
  border-radius: 8px;
  flex: 0.8;
}

.customizeApp__left {
  flex: 0.25;
  padding: 10px;
  border-right: 1px solid #d2d2d6;
}

.customizeApp__right {
  flex: 0.75;
  padding: 10px;
}

.customizeApp__expand {
  padding: 10px;
}

.customizeApp__head {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.customizeApp__head > p {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.customizeApp__expandOptions {
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  margin-top: 10px;
}

.customizeApp__expandOptions > p {
  font-size: 14px;
  padding: 5px;
  padding-left: 20px;
  cursor: pointer;
}

.customizeApp__select {
  background: #2264d1;
  color: #fff;
  border-radius: 5px;
}

.customizeApp__continue {
  background: #ededf0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.hideBackBtn {
  justify-content: flex-end;
}

.customizeApp__preview {
  margin: 0px 25px;
  flex: 0.2;
}
